@mixin grid-row-column($column-row){
  grid-column:$column-row/$column-row;
  grid-row:$column-row/$column-row;
}

@mixin bg($color, $img-url, $size, $position ){
  background: {
    image: $img-url;
    size:$size;
    position:$position;
    repeat: no-repeat;
    color:$color;
  }

}

@mixin font($font-fam, $size){
  font: {
    family: $font-fam;
    size:$size;

  }
}

@mixin settings-clasification($text-style){
  text-transform: $text-style;
  margin-left:10px;
}