$color-nav-netflix: #141414;
$color-bg-img:#01050e;
$color-bg-netflix: black;
$color-active-btn-netflix: #e50914;
$size-100: 100%;
$size-50:50%;
$small: 576px;
$medium:768px;
$large: 992px;
$extra-large:1200px;
