$color-nav-netflix: #141414;
$color-bg-img:#01050e;
$color-white:white;
$color-icon: rgb(180, 179, 179);
$margin:10px;
$color-grey: grey;
$color-bg-netflix: black;
$color-active-btn-netflix: #e50914;
$font:'netflix-font';
$font-original:'montserratlight';
$font-monstserrat: 'montserratregular';
$font-serie: 'Benguiat';
$size-100: 100%;
$size-50:50%;
$small: 576px;
$medium:768px;
$large: 992px;
$extra-large:1200px;
$sidebar-width: 60px;
