@font-face {
    font-family: 'Benguiat';
    src: url('Benguiat-Bold.woff2') format('woff2'),
        url('Benguiat-Bold.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

