@font-face {
  font-family: 'netflix-font';
  src: url('/fonts/bebasneue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratlight';
  src: url('/fonts/montserrat-thin-webfont') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Benguiat';
  src: url('/fonts/Benguiat-Bold.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'montserratregular';
  src: url('/fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
