@font-face {
  font-family: 'netflix-font';
  src: url('/fonts/bebasneue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratlight';
  src: url('/fonts/montserrat-light-webfont') format('woff');
  font-weight: normal;
  font-style: normal;

}