footer{
  margin-top: 4rem;
  height: 45vh;

  .container{
    padding: 0 4%;
    display: flex;
    flex-wrap: wrap;
    // align-content: center;
    justify-content: space-evenly;
    width: $size-100;
    height: $size-100;
  }

  .column-footer1,.column-footer2, .column-footer3, .column-footer4{
    display: flex;
    justify-content: center;
    height: $size-50 + 10%;
    flex-direction: column;
    width: 25%;
    // margin-right: 19px;
  }
}

.column-footer1,.column-footer2, .column-footer3, .column-footer4{
  a{
    @include configLink{
      @include font ($font-monstserrat, 0.98rem, $color-icon);
      margin-bottom: 0.6rem;
    }
  }

}

.column-footer2, .column-footer3, .column-footer4{
  padding-top: 1rem;
}

.social-links{
  svg{
    fill: $color-icon;
    margin-right: 1rem;
  }
}

.btn-box{
  width: 100%;

  button{
    @include btn (transparent, 1px solid $color-icon, 3px, 10px 19px);
    @include font ($font-monstserrat,'', $color-icon);
    margin-top: 1rem;
  }
}

.btn-box + p{
  width: 100%;
  @include font($font-monstserrat,'',$color-icon);
  margin-top: 2rem;
  margin-bottom: 2rem;
}