footer{
  margin-top: 4rem;
  height: 45vh;

  .container{
    padding: 0 4%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .column-footer1,.column-footer2, .column-footer3, .column-footer4{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 25px;
  }
}