.container{
  header{
    @include bg($color-bg-img, url("/img/stranger-things.jpg"), 70%, right);
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    color: white;
  }
}

.box-text{
  width: $size-100;
  height: 80px;
  align-self: center;
  padding:0 2rem;

  .title-netflix{
    font-family: $font;
    font-size: 1.34rem;
    margin-bottom: 3px;

    span{
      font-family: $font-original;
      text-transform: uppercase;
      font-size: 1.34rem;
    }
  }

  .title-serie{
    font-family: $font-serie;
    font-size: 2.5rem;
    text-transform: uppercase;
    transform:scale(1,1.5);
  }
}
