.container{
  header{
    background:url("/img/stranger-things.jpg");
    background-color:$color-bg-img;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right;
  }
}