.my-list-netflix,.popular-netflix,.news-netflix,.trending-netflix{
  width: $size-100;
  height: auto;
  color:$color-white;
  margin-top: 2.5rem;

  .title-section{
    @include font ($font-monstserrat, 1.8rem, $color-white);
    font-weight: bolder;
  }
}
